{% extends 'base.html' %}

{% block title %}Add new Task{% endblock %}
{% block content %}
<div class="col-6">
<form action="{% url 'article_new' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="form-group">
            <label for="name">Название</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Введите название"
                   value="{{ article.name }}">
            {% for error in form.name.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="form-description">Описание</label>
        <textarea class="form-control" name="description" id="form-description" rows="3">{{ article.description }}</textarea>
        {% for error in form.description.errors %}
            <p>{{ error }}</p>
            {% endfor %}
    </div>
    <div class="form-group">
        <label for="select_status">Выберите статус</label>
        <select class="form-control" name="status" id="select_status">
            {% for i in choice %}
            <option value="{{ i.0 }}">{{ i.1 }}</option>
        {% endfor %}
        </select>
        {% for error in form.status.errors %}
            <p>{{ error }}</p>
            {% endfor %}
    </div>
    <div class="form-group">
            <label for="finish_data">Дата выполнения</label>
        <input type="text" class="form-control" name="create_at" id="finish_data" placeholder="YYYY-mm-dd"
               value="{{ create_at }}">
        {% for error in form.create_at.errors %}
            <p>{{ error }}</p>
            {% endfor %}
    </div>
    <input type="submit" value="Добавить Задачу">
</form>
</div>
{% endblock %}