{% extends 'base.html' %}

{% block title %}Edit Task{% endblock %}
{% block content %}
<div class="col-6">
<form action="{% url 'edit' article.pk %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Введите название" value="{{ article.name }}">
        </div>
    </div>
    <div class="form-group">
        <label for="form-description">Описание</label>
        <textarea class="form-control" name="form-description" id="form-description" rows="3">{{ article.description }}</textarea>
    </div>
    <div class="form-group">
        <label for="select_status">Выберите статус</label>
        <select class="form-control" name="select_status" id="select_status">
            <option selected value="{{ status.0 }}">{{ status.1 }}</option>
            {% for i in choice %}#}
            <option value="{{ i.0 }}">{{ i.1 }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
            <label for="finish_data">Дата выполнения</label>
            <input type="text" class="form-control" name="finish_data" id="finish_data" value="{{ create_at }}" placeholder="YYYY-mm-dd">
    </div>
    <input type="submit" value="Сохранить изменение">
{% endblock %}