{% extends 'base.html' %}

{% block menu %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'article_new' %}">Добавить Задачу <span class="sr-only">(current)</span></a>
      </li>

{% endblock %}

{% block content %}
    <h1>To do List!</h1>
    {% for article in articles %}
        <a class=" btn btn-outline-dark btn-sm mb-1 mr-2" href=" {%  url 'delete' article.pk %}" role="button" >Удалить</a>
        <a href="{% url 'find' article.pk %}"> {{ article.pk }} | {{ article.name }}</a><br>
    {% endfor %}
{% endblock %}
