{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1>{{ article.name }}</h1>
<p>Описание :{{ article.description }}</p>
<p>Статус: {{ article.status }}</p>
<p> Дата выполнения {{ article.create_at }} </p>
    <a class="btn btn-outline-success btn-sm" href="/">На главную</a>
</div>
</body>
</html>